table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  font-family: Helvetica;
  width: 100%;
}

.infoboxHeader {
}

.infoboxContainer {
}

td {
  padding: 3px;
  text-align: left;
  padding: 0.4em;
}

tr:nth-child(even) {
  background-color: #e0e0e0;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
th {
  background-color: #333333;
  color: white;
  font-size: 14px;
  padding: 0.4em;
}
